/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $aluminium;
$navbar-hover-color: $white;
$navbar-font-family: $my-font;
$navbar-bg: $black;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 70px;
$navbar-vertical-padding: 25%;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0px;
$navbar-border-bottom-color: $gray;
$navbar-margin: solid $nero 30px;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 60px;
$navbar-btn-bg: lightgray;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.navbar {
  background-color: black;
  width: 100%;
  margin-bottom: 0px;
  height: 60px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 10px;
}

.navbar-default {
  border: none;
  border-bottom: solid $nero 0.2px;
}

.container-fluid .navbar-header {
  margin-left: 60px;
}
  
.logo {
  height: 30px;
  position: relative;
  top: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: $aluminium;
    line-height: 30px;
    margin-left: 20px;
    font-size: 16px;
    &:hover {
      color: $white;
      text-decoration: none;
    }
}

.navbar-right {
    float: right !important;
    margin-right: -20px;
}
















