/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $black;
$navbar-font-family: $my-font;
$navbar-bg: $white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 76px;
$navbar-margin-bottom: 0px;

/* -------------------------------------
 * Navbar links
 * ------------------------------------- */
$navbar-link-margin-left: 20px;
$navbar-link-font-size: 16px;
$navbar-link-hover-color: $aluminium;
$navbar-link-text-decoration: none;
$navbar-line-height: 54px;



/* -------------------------------------
 * Navbar logo
 * ------------------------------------- */
$navbar-logo-height: 30px;
$navbar-logo-margin-top: 23px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.navbar {
  background-color: $navbar-bg;
  margin-bottom: $navbar-margin-bottom;
  height: $navbar-height;
}

.navbar-content {
  margin-left: 10px;
}


.navbar-default {
  border: none;
  // border-bottom: solid $nero 0.2px;
}

  
.logo {
  height: $navbar-logo-height;
  margin-top: $navbar-logo-margin-top;
}

.navbar-nav {
  margin-left: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: $navbar-color;
    line-height: $navbar-line-height;
    margin-left: $navbar-link-margin-left;
    font-size: $navbar-link-font-size;
    &:hover {
      color: $navbar-link-hover-color;
      text-decoration: $navbar-link-text-decoration;
    }
}

// navbar opacity scroll

.navDark {
  opacity: 0.8;
  background-color: black;
}

.color-scroll {
  color: red;
}



// modal

#myModal {
  font-family: $my-font;
}

.navbar-modal {
  background: $red;
  height: $navbar-height;
  width: 200px;
  margin-bottom: 0px;
}

#contact-color {
  color: $nero;
  margin: 0px;
  text-align: center;
  &:hover {
    color: black;
    text-decoration: none;
  }
}


















