/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $aluminium;
$navbar-hover-color: $white;
$navbar-font-family: $my-font;
$navbar-bg: $black;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 70px;
$navbar-vertical-padding: 25%;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0px;
$navbar-border-bottom-color: $gray;
$navbar-margin: solid $nero 30px;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 60px;
$navbar-btn-bg: lightgray;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.navbar {
  background-color: black;
  width: 100%;
  margin-bottom: 0px;
  height: 60px;
}

.container-fluid {
  padding-left: 0px;
}

.navbar-default {
  border: none;
  border-bottom: solid $nero 0.2px;
}
  
.logo {
  height: 60px;
}

.navbar-default .navbar-nav > li > a {
    margin: 0px 80px;
    color: $aluminium;
    line-height: 30px;
    &:hover {
      color: $white;
      text-decoration: none;
    }

}








// .navbar {
//   height: $navbar-height;
//   background-color: $navbar-bg;
//   color: $navbar-color;
//   margin: $navbar-margin;
//   padding: 10px;
//   nav {
//       background-color: $navbar-bg;
//       height: $navbar-height;
//       padding: 0px;
//   }
//   ul {
//     height: 70px;
//     line-height: 70px;
//     margin: 0px;
//     border-bottom: solid $nero 0.2px;
//     li {
//     list-style-type: none;
//     }
//   }
// }

// .row {
//     margin-left: 0px;
//     margin-right: 0px;
// }

// .logo {
//   margin-left: 0px;
//   padding: 0px;
//   &:hover {
//     color: $white;
//     text-decoration: none;
//   }
// }


// .navbar-links {
//   text-decoration: none;
//   color: $navbar-color;
//   &:hover, :visited {
//     color: $white;
//     text-decoration: none;
//   }
// }











