body {
	font-family: $my-font;
	h1 h2 h3 h4 p a {
		font-family: $my-font;
		letter-spacing: 2px;
		color: $black;
	}
}

#banner {
	position: relative;
	top: $navbar-height;
	background-image: url(../images/cover.jpg);
	color: $aluminium;
	padding-top: 220px;
	background-size: cover;
	height: 700px;
	h1 {
		font-family: $my-font;
		font-size: 70px;
		line-height: 100px;
		letter-spacing: 2px;
		color: $white;
	}
	p {
		font-size: 20px;
		color: $aluminium;
	}
}

.wrapper {
	height: 200px;
	h2 {
		font-family: $my-font;
		letter-spacing: 2px;
	}
}

.box {
	margin: 0px;
}

// Demo 

.demo {
	position: relative;
	top: $navbar-height;
}


.img-composer {
	width: 600px;
}


// Slider 

.wrap-slider {
	background-color: black;
	padding-top: 50px;
	p {
		color: white;
		opacity: 0.8;
	}
}

.slider {
	width: 950px;
	height: 500px;
	margin: auto;
}

.item {
	text-align: center;
}

.picture-position {
	margin-left: 25px;
}



// Composers 

.composers {
	background: red;
	margin: 0px;
	padding: 100px 10px;
	position: relative;
	top: $navbar-height;
}

// Interpreters 

.interpreters {
	margin: 0px;
	padding: 100px 10px;
	position: relative;
	top: $navbar-height;
}


// Pieces 

.pieces {
	margin: 0px;
	padding: 100px 10px;
	position: relative;
	top: $navbar-height;
}






