body {
	font-family: $my-font;
}

#banner {
	background-image: url(../images/cover.jpg);
	color: $aluminium;
	padding-top: 220px;
	background-size: cover;
	height: 700px;
	h1 {
		font-family: $my-font-didot;
		font-size: 70px;
		line-height: 100px;
		letter-spacing: 7px;
		color: $white;
	}
	p {
		font-family: $my-font;
		font-size: 20px;
		color: $aluminium;
	}
}


#versions {
	background: $nero;
	h2 {
		font-family: $my-font-didot;
		letter-spacing: 5px;
		color: $aluminium;
	}
	p {
		font-family: $my-font-didot;
		letter-spacing: 5px;
		color: $aluminium;
	}
}

.img-composer {
	width: 600px;
}






