---
title: Musicae, find the music you love
---

	<!-- banner -->
	<div class="container-fluid" id="banner">
		<div class="container text-center">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h1>La musique par ceux qui la jouent</h1>	
				</div>
			</div>
		</div>
	</div>
	 
	<!-- carrousel slick -->
	<div class="container-fluid card-content"> 
	    <div class="row">
	        <div class="col-xs-6 col-xs-offset-3 text-center">
	            <h2>Découvrez des interprétations</h2>
	        </div>
	    </div>
	    <div class="row">
	        <div class="container-fluid box-padded">
	            <div class="slider">
	                <div class="item">
	                    <div class="row frame-position">
	                        <iframe width="267" height="100%" src="https://www.youtube.com/embed/lLZaupG8WP4?list=PL9t9N1owgSRLAErhETYuuAwWSeCJ85N4o&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	                    </div>

	                    <div class="row">
	                        <p class="text-position text-center">Glen Gould joue les variations Goldberg <br> de Bach</p>
	                    </div>
	                </div>
	                <div class="item">
	                    <div class="row frame-position">
	                        <iframe width="267" height="100%" src="https://www.youtube.com/embed/lLZaupG8WP4?list=PL9t9N1owgSRLAErhETYuuAwWSeCJ85N4o&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	                    </div>

	                    <div class="row">
	                        <p>Glen Gould</p>
	                    </div>
	                </div>
	                <div class="item">
	                    <div class="row frame-position">
	                        <iframe width="267" height="100%" src="https://www.youtube.com/embed/lLZaupG8WP4?list=PL9t9N1owgSRLAErhETYuuAwWSeCJ85N4o&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	                    </div>

	                    <div class="row">
	                        <p>Glen Gould</p>
	                    </div>
	                </div>
	                <div class="item">
	                    <div class="row frame-position">
	                        <iframe width="267" height="100%" src="https://www.youtube.com/embed/lLZaupG8WP4?list=PL9t9N1owgSRLAErhETYuuAwWSeCJ85N4o&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	                    </div>

	                    <div class="row text-position">
	                        <p>Glen Gould</p>
	                    </div>
	                </div>
	            </div>
	        </div>  
	    </div>     
	</div> 



<!-- <div class="bg-red-lighter padded">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-xs-3">
				<h3>Compositeurs</h3>
			</div>
			<div class="col-xs-6 col-xs-offset-3">
				<%= image_tag "mozartscore.png", class:'img-composer' %>
			</div>
		</div>
		<br>
	</div>
</div> -->
		



<div id="testimonials">
	<div class="container">
		<div class="row">
			<% data.testimonials.each do |testimonial| %>
				<div class="col-xs-12 col-md-6">
					<div class="testimonial text-center padded">
						<%= image_tag testimonial.image_file, class:'img-circle' %>
						<h3><%= testimonial.name %></h3>
						<p><%= testimonial.content %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your contact information</h4>
      </div>
      <div class="modal-body">
      	<form action="">
      		
      		<div class="row">
		      	<div class="col-xs-6">
		      		<div class="form-group">
			      		<label for="FirstName">First Name</label>
			      		<input type="text" placeholder="Wolfgang Amadeus" class="form-control" id="FirstName">
			      	</div>
		      	</div>

		      	<div class="col-xs-6">
		      		<div class="form-group">
			      		<label for="LastName">Last Name</label>
			      		<input type="text" placeholder="Mozart" class="form-control" id="LastName">
			      	</div>
		      	</div>
		    </div>

			<div class="form-group">
				<label for="Email">Your email</label>
	      		<input type="email" class="form-control" placeholder="richard@strauss.com" id="Email">
	      	</div>

      		<input type="submit" value="Submit" class="btn-rounded">
      	

      	</form>
        
      </div>

    </div>
  </div>
</div>

	


